/*limpar formataçoes padroes do navegador*/
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 12px;
    font-family: "Trebuchet MS", sans-serif, Helvetica;
}
ul{
    padding: 0px !important;
}

hr {
    color: rgb(184, 184, 184);
    background-color:rgb(184, 184, 184);
    height: 1px;
    width: 60%;
    margin-left: 30px;
}

.menu-principal main{
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.menu-principal{
    width: 100%;
    background-color: rgb(238, 238, 238);
    height: 80px;
    border-bottom: 3px solid #d8d8d8;
}

#logo{
    padding: 15px 15px;
    float: left;
    left: 200%;
}
/* Formatação do menu de navegacao*/
#menu{
    float: right;
    padding: 32px 0;
}
#menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 5px;
    height: 20px;
}
#menu ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: initial;
    color: #838383;
    padding: 60px;
    
}
#menu ul li:hover{
    border-bottom: 3px solid #01d112;;
}
#menu ul li a:hover{
    color: #01d112;
}
.container-banner{
    background-image: url(images/bg.jpg);
    height: 585px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container-interno{
    text-align: center;
    position: absolute;
    width: 100%;
    color: black;
    height: auto;
    margin-top: 150px;
}
.container-interno h1{
    font-size: 60px;
    font-family: "Shodows into Light", sans-serif;
}
.container-interno h2{
    font-family: "Source Sans Pro", sans-serif;
    padding: 30px 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
}
.container-interno a{
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: "Source Sans Pro", sans-serif;
}
 /*Estilização footer*/
 footer{
     background: rgb(238, 238, 238);
     padding: 30px 0px;
     position: absolute;
     width: 100%;
     top: 1680px;
 }
 footer .autoria{
    text-align: center;
 }
footer .autoria p{
    margin: 6px 0;
    font-size: 12px;
    font-weight: lighter;
}

footer .autoria a{
    color: black;
    text-decoration: none;
}
footer .autoria a:hover{
    color: #F5A503;
}

/*CSS dos cards*/

.card {
    position: relative;
    transition: 0.3s;
    width: 20%;
    padding-top: 20px;
    padding-right: 50px;
    float: left;
}

.card-top {
    text-align: center;
    text-transform: uppercase;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.card-text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}

.card-img img{
    width: 100%;
}

.card:hover {
  color: red;
  transform: scale(1.1, 1.1);
}

a .container{
    text-decoration: none;
    padding: 2px 16px;
    font-size: 20px;
}

/*noticia em destaque(principal)*/
#destaque-titulo{
    padding-top: 30px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 15px;
    color: green;
}

#destaque-subtitulo{
    font-size: 30px;
    padding-left: 30px;
    color: black;
    transition: 0.2s;
}

#destaque-subtitulo:hover{
    font-size: 32px;
    text-decoration: underline;
}

/*noticias em destaque(secundária)*/
#destaque-secundario{
    width: 100%;
    padding: 30px;
    
}
    /*slide*/

div.slide{
    width: 20.5%;
    float: left;
    padding-right: 10px;
}

div.slide-top img{
    width: 33.33%;
    float: left;
    opacity: 0.5;
    transition: 0.5s ease;
}

div.slide-top-last img{
    width: 33.33%;
    opacity: 0.5;
    transition: 0.5s ease;
}

div.slide-bottom img{
    width: 100%;
}

div.slide div.slide-top img:hover{
    opacity: 1;
}

div.slide div.slide-top-last img:hover{
    opacity: 1;
}

    /*fim de slide*/
div.destaque-secundario{
    width: 100%;
    padding: 5px;
}

div.destaque-titulo{
    text-transform: uppercase;
    font-size: 20px;
    color: green;
    padding-bottom: 0px;
    padding-top: 10px;
}

div.destaque-subtitulo{
    font-size: 25px;
    color: black;
    padding-bottom: 7px;
    
    transition: 0.2s ease;
}

div.destaque-secundario div.destaque-subtitulo:hover{
    font-size: 26px;
    text-decoration: underline;
}

div.sub{
    text-align: left;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

div.sub-sub{
    list-style-type: square;
    text-transform: uppercase;
}