#geral {
	background: ghostwhite;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:0;
	margin:0 auto;
	padding:10px 5px 10px 15px;
}

#busca {
	position: absolute;
	top:20px;
	right:180px;
}

#logo {
    position: relative;
    width: 100px;
}

#logo_01 {
    position: relative;
}

div a#capa{
    text-align: center;
    color: black;
    font: bold 22px arial;
    display: block;
    text-decoration: none;
    padding:5px 10px;
	border-radius: 10px;
    
}

div a#capa:hover{
    text-align: center;
    color: red;
    font: bold 22,5px arial;
    text-decoration: underline;
    padding:5px 10px;
	border-radius: 10px;
}

hr{
    border-color:#aaa;
    box-sizing:initial;
    width:80%;  
}

div{

	text-align: center;
	width:20%;
	float: left;
	margin-right:10px;
}

div a, div img {
	display: block;
	margin:0 auto;
}