#geral {
	background: ghostwhite;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:0;
	margin:0 auto;
	padding:10px 5px 10px 15px;
}

#busca {
	position: absolute;
	top:20px;
	right:180px;
}